[submodule "spring-petclinic"]
	path = spring-petclinic
	url = https://github.com/ANierbeck/spring-petclinic.git
[submodule "ansible/roles/nginx"]
	path = ansible/roles/nginx
	url = https://github.com/ahelal/nginx.git
[submodule "ansible/roles/logstash"]
	path = ansible/roles/logstash
	url = https://github.com/WeAreFarmGeek/ansible-logstash.git
