---
 - name: Install Java on all machines
   hosts: all
   sudo: yes
   roles:
   - role: ahazem.java_ubuntu_saucy
     java_ubuntu_saucy_jdk: oracle
     java_ubuntu_saucy_jdk_version: 8
     java_ubuntu_saucy_jdk_version_default: 8
 - name: Set up the gatling machine
   hosts: gatling
   sudo: yes
   tasks: 
   - name: Install unzip 
     apt: name="unzip"
   - name: Download Gatling
     get_url: url=http://repo1.maven.org/maven2/io/gatling/highcharts/gatling-charts-highcharts/2.0.0-RC5/gatling-charts-highcharts-2.0.0-RC5-bundle.zip dest=/tmp/gatling-charts-highcharts-2.0.0-RC5-bundle.zip
   - name: Extract Gatling
     unarchive: src=/tmp/gatling-charts-highcharts-2.0.0-RC5-bundle.zip dest=/vagrant/local copy=no creates=/vagrant/local/gatling-charts-highcharts-2.0.0-RC5/bin/gatling.sh
   - name: SymLink Gatling Installation
     file: src=/vagrant/local/gatling-charts-highcharts-2.0.0-RC5 path=/vagrant/local/gatling-2 state=link
 - name: Set up the tomcat machine
   hosts: tomcat
   sudo: yes
   pre_tasks:
   - name: Create the PKI folder
     file: path=/etc/pki/logstash state=directory
   roles:
   - role: geerlingguy.logstash_forwarder
     logstash_forwarder_logstash_server: 192.168.5.3
     logstash_forwarder_logstash_server_port: 5000
     logstash_forwarder_ssl_certificate_file: logstash-forwarder.crt
     logstash_forwarder_files: 
     - paths: 
       - /vagrant/local/apache-tomcat-8/logs/api.log
       fields:
        type: petclinic-api
   tasks: 
   - name: Install Maven
     apt: name="maven"
   - name: Install Git
     apt: name="git"
   - name: Download Tomcat
     get_url: url=http://apache.mirror.digionline.de/tomcat/tomcat-8/v8.0.12/bin/apache-tomcat-8.0.12.tar.gz dest=/tmp/apache-tomcat-8.0.12.tar.gz
   - name: Create Tomcat Target Directory
     file: path=/vagrant/local state=directory
   - name: Extract Tomcat
     unarchive: src=/tmp/apache-tomcat-8.0.12.tar.gz dest=/vagrant/local copy=no creates=/vagrant/local/apache-tomcat-8/bin/run.sh
   - name: Chown Tomcat Installation
     file: path=/vagrant/local/apache-tomcat-8.0.12 state=directory owner=vagrant group=vagrant
   - name: SymLink Tomcat Installation
     file: src=/vagrant/local/apache-tomcat-8.0.12 path=/vagrant/local/apache-tomcat-8 state=link
   - name: Create Init Configuration
     copy: src=files/tomcat dest=/etc/init.d/tomcat
   - name: Make Init Configuration Executable
     file: path=/etc/init.d/tomcat mode=0755
   - name: Start Tomcat
     service: name=tomcat state=started
 - name: Set up logstash machine
   hosts: logstash
   sudo: yes
   roles:
   - role: nginx
   - role: adham.helal.kibana
     es_host: http://localhost:9200
     kibana_dashboard_inst: true
     kibana_dashboards: 
     - name: API Dashboard
       src: ../kibana/api-dashboard.json
   tasks:
   - name: Add Logstash Key
     apt_key: url=http://packages.elasticsearch.org/GPG-KEY-elasticsearch state=present
   - name: Add Logstash Repository
     apt_repository: repo=' deb http://packages.elasticsearch.org/logstash/1.3/debian stable main' state=present
   - name: Install Logstash
     apt: name=logstash state=present update_cache=yes
   - name: Copy Certificate
     copy: src=logstash-forwarder.crt dest=/etc/logstash/logstash-forwarder.crt
   - name: Copy Key
     copy: src=logstash-forwarder.key dest=/etc/logstash/logstash-forwarder.key
   - name: Configure Logstash to start
     lineinfile: dest=/etc/default/logstash regexp=^START line=START=yes
   - name: Copy Tomcat Ruleset
     copy: src=../logstash/tomcat.conf dest=/etc/logstash/conf.d/tomcat.conf
   - name: Start Logstash
     service: name=logstash state=started